*{ padding: 0;
  margin: 0;
  box-sizing: border-box;}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
  
  
    
  }
  
  #root{
    padding: 0;
    margin: 0;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  
  #containerPageLogin{
    background: url(../Images/loginCptm.jpg) no-repeat center fixed; 
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }


  #containerLogin{
    width: auto;
    height: 60vh;
    border-radius: 15px;
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 25vh;
    margin-bottom: 20vh;
   background-color: rgba(80, 78, 78, 0.171);
   box-shadow: 0px 2px 10px #000000
   
    
  }

  #containerLogin:hover{
    box-shadow: 0px 2px 20px #000000;
  }


  .h1_login{
    color: rgba(255, 251, 251, 0.726);
    text-shadow: 0px 1px 1px #a5a4a4;
    font-size: 3em;
    text-align: center;
  }

  .h2_Login{
    color: rgba(255, 251, 251, 0.726);
    text-shadow: 0px 1px 1px #a5a4a4;
    font-size: 2em;
    text-align: center;
  }


  .formLogin{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

  }

  .inputLogin{
    margin: auto;
    display: flex;
    margin-top: 3vh;
    background: #7443439f;
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: rgba(255, 251, 251, 0.726);
    border-color: rgba(0, 0, 0, 0);

  
  }

.buttonLogin{
  cursor: pointer;
 outline:none;
  margin: auto;
  display: flex;
  margin-top: 2vh;
 
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color:#0000;
  background-position:center;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

}

.inputLogin:hover{
  border: none;
  background: #74434315;
  box-shadow: 0px 4px 10px black;
  color: rgba(20, 18, 18, 0.856);
  
}

.inputLogin:focus{
  border: none;
  background: #d5e26179;
  box-shadow: 0px 0px 50px black;
  color: rgba(255, 253, 253, 0.952);
  outline-style: none;  
  
}

.buttonLogin:link,
.buttonLogin:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    color: rgb(16, 36, 36);
}

.buttonLogin:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.buttonLogin:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.buttonLogin-white {
    background-color: rgba(255, 255, 255, 0.274);
    color: #777;
}

.buttonLogin::after {
    content: "";
    display: inline-block;
    height:' 100%';
    width: '100%';
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.buttonLogin-white::after {
    background-color: rgba(255, 255, 255, 0.226);
}

.buttonLogin:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.buttonLogin-animated {
    animation: moveInBottom 2s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    
    25% {
      opacity: 1;
      transform: translateY(-30px);
  }
  75% {
    opacity: .5;
    transform: translateY(30px);
}

    100% {
        opacity: .3;
        transform: translateY(0px);
    }
}

.preto{
  color: rgba(0, 0, 0, 0.705);
}

.branco{
  color: rgba(255, 253, 253, 0.705);
}

.maior{
  width: 20vw;
}




/* Design Menu */


#containerPageMenu{
  background: url(../Images/Q040.png) no-repeat center fixed; 
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.newLabel{

  min-width: 2.3vw;

}

.label{
width: "100%";
height: 0.6vh;
font-weight: 900;
}




.labelMeio{
width: "100%";
height: "40%";
text-align: center;
font-size: 1em;
font-weight: bold;
}

table.tableizer-table {
  max-width: 93vw;
  font-size: .9em;
  border: 1px solid rgb(54, 54, 54); 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
} 
.tableizer-table td {
 
  border: 1px solid rgb(54, 54, 54);
  min-width: 2.9vw;
  margin: 0;
  padding: 0;
  font-size: 1em;
  
}
.noBorderL{
  border-left:  none;
}
.noBorderR{
  border-right: none;
}
.tableizer-table th {
  border: 1px solid  rgb(54, 54, 54);
  font-weight: bold;
  font-size: 1.3em;
  background-color: #fd0000;
  color: white;
}

.tabelaPatiotitulo{
  border: 1px solid  rgb(54, 54, 54);
  font-weight: bold;
  font-size: 1.5em;
  background-color: #fc1919;
  color: white;
}

.sinaisFixos{
  border: 0px solid  rgb(54, 54, 54);
  font-weight: bold;
  font-size: 1.3em;
  color: black;
  height: 0.1vw;

}


.bgYellow{
  background-color: yellow;
}

.bgYellowRed{
  background-color: yellow;
  color: rgb(255, 6, 6);
  
}

.bgBlue{
  background-color: dodgerblue;
}

.bgGreen{
  background-color: rgb(45, 192, 45);
}

.bgGreenWhite{
  background-color: rgb(121, 197, 121);
}

